.footer {
    background: #ffffff none repeat scroll 0 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    // bottom: 0;
    color: #67757c;
    left: 0;
    padding: 1px 15px;
    position: absolute;
    right: 0;
}

.footer {
    left: 240px;
}