
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }



/* message box header styles*/

.msg-wgt-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 0 0px 10px 0 #00000033, 0 1px 20px 0 #00000030;
    -webkit-box-shadow: 0 0px 10px 0 #00000033, 0 1px 20px 0 #00000030;
    -moz-box-shadow: 0 0px 10px 0 #00000033, 0 1px 20px 0 #00000030;


}

.minimize.msg-wgt-container {
    height: 29px;
}

.msg-wgt-header {
    width: 100%;
    height: 30px;
    line-height: 2.5em;
    text-align: center;
    background: #6f85b5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.msg-wgt-header a {
    color: #ffffff;
    text-decoration: none;
}

.msg-wgt-header a.online {
    width: 10px;
    height: 10px;
    background: #66d266;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
}

.msg-wgt-header a.close {
    position: absolute;
    right: 10px;
    opacity: .7
}

.msg-wgt-message-container {
    width: 100%;
    height: 230px;
    overflow-y: scroll;
    background: #ffffff;

}

.msg-wgt-message-list {
    width: 100%;
}

tr.msg-wgt-message-list-header {
    color: #999;
    font-size: 9px;
    vertical-align: top;
}

tr.msg-wgt-message-list-header img {
    width: 42px;
}

tr.msg-wgt-message-list-header .name {
    text-align: left;
}

tr.msg-wgt-message-list-header .time {
    text-align: right;
}

tr.msg-wgt-message-list-body td {
    font-size: 11px;
    color: #777;
}

tr.msg-wgt-message-list-separator td {
    border-bottom: 1px solid #ddd;
}

.msg-wgt-message-form {
    width: 100%;
    height: 40px;
    border-top: 1px solid #ddd;
}

.msg-wgt-message-form textarea {
    width: 98%;
    border: 0;
    height: 60px;
    padding: 5px;
}
